body{
    background: linear-gradient(#101124 25%, #eb0e52 75%);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.imagen_principal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.titulo{
    font-size: 30px;
    font-weight: bold;
    color: #eb0e52;
    text-align: center;
}

.parte-encriptador, .parte-desencriptador{
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}

.entradatexto, .salidatexto{
    font-style: normal;
    color: #100307;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
}

.botonencriptar, .botondesencriptar{
    background: #eb0e52;
    width: 45%;
    height: 20%;
    font-size: 20px;
    font-weight: bold;
    color: #101124;
    padding: 8px;
    margin: 4px;
    border-color: #101124;
    display: inline-block;
}

.botonencriptar:hover, .botondesencriptar:hover{
    background: #a30031;
    transition: 0.2s;
    transform: scale(1.1);
}

.texto-encriptador .texto-desencriptador{
    width: 60%;
    margin: auto 4px;
    padding: 40px;
}

footer{
    text-align: center;
	padding-top: 120px;
    color: #ffffff;
}

.copyright{
	color: white;
	font-size: 12px;
	margin: 20px;
}